/*
Blue Grey colors:
50  #ECEFF1
100 #CFD8DC
200 #B0BEC5
300 #90A4AE
400 #78909C
500 #607D8B ====
600 #546E7A
700 #455A64
800 #37474F
900 #263238
*/

body {
  font-family: "Roboto";
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #455A64;
}
a:hover { color: black; }

core-animated-pages {
  width: 95%;
  height: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  font-size: 4em;
  background: white;
}

body /deep/ core-toolbar {
  background: #607D8B;
  color: #fff;
  font-variant: small-caps;
}

core-toolbar img {
  width: 100%;
  height: 100%;
}

core-menu {
  color: #455A64;
  margin: 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item {
  min-width: 0; /* The 7em default overflows otherwise. */
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
}

core-menu > paper-item.core-selected {
  background: #CFD8DC;
}

.core-overlay-backdrop {
  background: #B0BEC5;
}

#pages embed {
  width: 100vw;
  height: 100vh;
  min-width: 400px;
  min-height: 400px;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
